/*******************************************************************************
 * components-views.css
 *
 * Contains styles for views components.
 ******************************************************************************/

/*******************************************************************************
** Schedule view
*******************************************************************************/

.view-schedule .views-grid-box {
  background-color: #ffffff;
}

.view-schedule .group {
  background-color: #F9F6F5;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 10px 0;
}
.view-schedule .group-head h4 {
  margin: 0 0 15px 0;
}
.view-schedule .group-head p {
  font-size: 16px;
  margin: .5em 0 1em 0;
}

.view-schedule .view-grouping {
  margin: 15px 0;
}
.view-schedule .view-grouping:nth-child(2n+1) {
  background-color: #E8E6E5;
}
.view-schedule .view-grouping:nth-child(2n+1) .group {
  background-color: #F4F2F0;
}

.view-schedule .view-grouping-header h3 {
  text-align: center;
  margin: 0;
  padding: 15px 15px 0 15px;
}
.view-schedule .view-grouping-content {
  padding: 15px;
}
.view-schedule .views-field-field-room {
  display: inline-block;
}

/*******************************************************************************
** Event Archives view
*******************************************************************************/
.view-event-archive h3 {
  margin-bottom: .25rem;
}
.view-event-archive .views-field-field-display-date {
  margin-bottom: .25rem;
}

/*******************************************************************************
** Archives view
*******************************************************************************/
.view-archives li.views-row {
  margin-bottom: .5rem;
}
