/*******************************************************************************
 * events.css
 *
 * Contains styles for only the events subtheme.
 ******************************************************************************/

/*******************************************************************************
** Adjust footer menu location.
*******************************************************************************/

.l-footer .block-menu,
.l-footer .block-menu-menu-footer-menu {
  right: 30px;
}

/*******************************************************************************
** Paypal Donate form
*******************************************************************************/

#smart-button-container .paypal-form-item label {
  display: inline-block;
  padding-right: 15px;
}
#smart-button-container p {
  margin: 0;
}
#priceLabelError {
  margin: 0;
}
