/*******************************************************************************
 * events.css
 *
 * Contains styles for only the events subtheme.
 ******************************************************************************/

/*******************************************************************************
** header area
*******************************************************************************/

.site-name {
  font-size: 1.5rem; /* 24px */
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  .site-name {
    font-size: 2.125rem; /* 34px */
  }
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .menu-main {
    flex: 1;
  }
  .menu-demo {
    flex: 1.5;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .menu-main,
  .menu-account,
  .menu-demo {
    display: inline-block;
    flex: auto;
  }
}

/*******************************************************************************
** block titles
*******************************************************************************/

h2.block-title {
  margin-bottom: .5em;
}

/* all headings should be light or normal weight */
.l-sidebar h2.block-title,
.l-sidebar h3 {
  font-weight: 300;
}

a.button:hover {
  text-decoration: none;
}

/*******************************************************************************
** Home page hero block
*******************************************************************************/

body.front .l-top h2 {
  margin-bottom: 0;
}
body.front .l-top .block {
  width: 100%;
  text-align: center;
}
body.front .l-top .block p {
  font-size: 1.5rem;
}

/*******************************************************************************
** User login block
*******************************************************************************/
.user-login-block .form-item {
  padding-right: 10%;
}
.user-login-block input[type=text],
.user-login-block input[type=password] {
  width: 100%;
}
.user-login-block .password-toggle-wrapper {
  display: block;
}
.user-login-block .form-actions {
  text-align: left;
  display: inline-block;
}
.user-login-block .item-list {
  display: inline-block;
}
.user-login-block ul,
.user-login-block li {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.user-login-block li a {
  display: inline-block;
  padding: 15px 30px;
}
.user-login-block li a:hover {
  text-decoration: underline;
}

/*******************************************************************************
** Paypal Donate form
*******************************************************************************/

#smart-button-container .paypal-form-item label {
  display: inline-block;
  padding-right: 15px;
}
#smart-button-container p {
  margin: 0;
}
#priceLabelError {
  margin: 0;
}
