/*******************************************************************************
 * events.css
 *
 * Contains styles for only the events subtheme.
 ******************************************************************************/

/*******************************************************************************
** Adjust footer menu location.
*******************************************************************************/

.l-footer .block-menu,
.l-footer .block-menu-menu-footer-menu {
  right: 30px;
}

/*******************************************************************************
** Home page hero block
*******************************************************************************/

body.front .l-top h2 {
  margin-bottom: 0;
}
body.front .block-hero {
  width: 100%;
  text-align: center;
}
body.front .block-hero p {
  font-size: 1.5rem;
}

/*******************************************************************************
** Paypal Donate form
*******************************************************************************/

#smart-button-container .paypal-form-item label {
  display: inline-block;
  padding-right: 15px;
}
#smart-button-container p {
  margin: 0;
}
#priceLabelError {
  margin: 0;
}
