/*******************************************************************************
 * page-front.css
 *
 * Contains styles only needed for the front page of the site.
 *
 * These elements were separated from the compontents.css file because there is
 * a lot of code in here that's not needed for most of the site, so it didn't
 * need to be loaded all the time.
 ******************************************************************************/

/*******************************************************************************
 * Front page
 ******************************************************************************/
body.front .l-header {
  box-shadow: none;
}
body.front .l-top {
  background: #000;
  color: #fff;
  position: relative;
}

body.front .l-top .block:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 7.5rem 2rem;
  font-size: clamp(18px, 2.5vw ,1.75rem);
  text-align: center;
}
body.front .l-top .block:first-child:before {
  background: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #0005 75%, #000);
  background: pink;
}
body.front .l-top .block:first-child:after {
  background: linear-gradient(to right, #0000, #000c);
  background: pink;
}

body.front .l-top .block:first-child h2.block-title {
  font-size: 3.57em;
}
body.front .l-top .block:first-child .block-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 7.5rem 2rem;
  font-size: clamp(18px, 2.5vw ,1.75rem);
  text-align: center;
}

body.front .l-content {
  overflow: visible;
}

body.front .page-title {
  font-size: 400%;
  padding-bottom: 18px;
  margin-bottom: 30px;
}

body.front .node-page h1,
body.front .node-page h2,
body.front .node-page h3 {
  text-align: center;
}
body.front .node-page ul.columns-two {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;
}

#why-use-backdrop-cms {
  margin-top: 0;
}

/*******************************************************************************
 * Front page tagline.
 ******************************************************************************/
body.front .l-top h1.page-title {
  font-size: 2.75rem; /* 44px */
  padding: 0;
}
body.front .l-top h2 {
  font-size: 1.625rem; /* 26px */
  line-height: 1.33em; /* */
}

@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  body.front .l-top h1.page-title {
    font-size: 3.75rem; /* 60px */
    font-weight: normal;
  }
  body.front .l-top h2 {
    font-size: 2rem; /* 32px */
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  body.front .l-top h2 {
    font-size: 2.625rem; /* 42px */
  }
}

/*******************************************************************************
 * Hero
 ******************************************************************************/

.l-hero {
  background: #000;
  max-width: 9999em;
  padding-inline: 0;
}

.l-hero-image {
  position: relative;
  z-index: 0;
}
/* Grid image behind hero */
.l-hero-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  mask-image: url(/themes/borg/images/diagonal-grid.svg);
  mask-size: 580px;
  background-color: #666;
}

/* Gradients to overlay background image */
.l-hero-vgradients:before,
.l-hero-hgradients:before,
.l-hero-hgradients:after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
}

.l-hero-vgradients:before {
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #0005 75%, #000);
}

.l-hero-hgradients:before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 144px;
  background: linear-gradient(to left, #0000, #000c);
}
.l-hero-hgradients:after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 144px;
  background: linear-gradient(to right, #0000, #000c);
}

.l-hero-hgradients {
  margin: 0 auto;
  /* 28px at desktop in mockup */
  font-size: clamp(18px, 2.5vw ,1.75rem);
  text-align: center;
  /* This media query should match the width on `.l-hero .block h1` */
  @media (min-width: 30em) {
    width: min-content;
  }
}

/*******************************************************************************
 * Blocks in hero region
 ******************************************************************************/

/* add padding only to the first block in hero */
.l-hero :nth-child(1 of .block) {
  padding: 7.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* increase font size of hero block titles */
.l-hero .block h1,
.l-hero .block h2.block-title {
  margin: 0 auto;
  /* 100px at desktop in mock */
  font-size: clamp(1.5em, 8vw, 3.57em);
  line-height: 0.96;
  font-weight: 600;
  color: #fff;
  @media (min-width: 30em) {
    width: 10em;
  }
  @media (min-width: 48em) {
    /* 100px at desktop in mock */
    font-size: 3.57em;
  }
}

/* adjust spacing for hero block content */
.l-hero .block-content p {
  margin: 0;
  padding: 0;
  font: inherit;
  color: #fff;
}

/*******************************************************************************
 * EVENTS customizations
 ******************************************************************************/

/* hide vertical tabs on home page */
body.front .vertical-tabs {
  display: none;
}

body.front .block-block-books figure,
body.front .backdrop-books figure {
  max-width: 50%;
  display: inline-block;
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  body.front .block-block-books figure,
  body.front .backdrop-books figure {
    max-width: 47%;
    margin: 0 5px;
  }
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  body.front .block-block-books figure,
  body.front .backdrop-books figure {
    margin: 0 15px;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  body.front .block-block-books figure,
  body.front .backdrop-books figure {
    max-width: 200px;
    margin: 0;
  }
  /* force equal-height headings when they are side-by-side. */
  body.front .l-middle-bottom h2.block-title {
    height: 100px;
    font-weight: 300;
  }
}

body.front .l-middle-bottom {
  margin-top: 0;
  border-top: 0;
}

